.about{
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.about .about-content{
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    background-color: transparent;
}

.about .about-content div {
    flex: 0 1 calc(35% - 30px);
    height: 40vh;
    border: 3px solid black;
    border-radius: 3px;
    font-size: 18px;
    text-align: center;
    padding: 40px 15px 0px 15px;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
}

@media (max-width: 725px) {
    .about .about-content{
        display: flex;
        flex-direction: column;
    }
    .about .about-content div{
        padding: 20px 30px;
    }
}